<% include ../partials/header %>

<h1> Add a New Site </h1>

<form action="/sites" method="POST">
	<input type="text" name="title" placeholder="Site Name">
	<input type="text" name="image" placeholder="Image Url">
	<input type="text" name="description" placeholder="Description">
	<input type="submit">
</form>

<% include ../partials/footer %>
