<% include ../partials/header %>

<h1> Add a New Site </h1>

<form action="/sites" method="POST">
	<input type="text" name="site[title]" placeholder="Site Name">
	<input type="text" name="site[image]" placeholder="Image Url">
	<input type="text" name="site[description]" placeholder="Description">
	<input type="submit">
</form>

<% include ../partials/footer %>
